*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
}

.wrap{
    background: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: League Spartan;
}


main{
    width: 70%;
}

.para{
    margin-top: 20px;
    font-size: 16px;
    opacity: 0.5;
}

.userslove{
    width: 40%;
}

.maintext{
    display: flex;
    gap: 20px;
    
}

.icon{
    padding-right: 10px;
}

.colton,.irene,.anne{
    background-color: hsl(300, 43%, 22%);
    margin: 10px;
    width: 300px;
    height: 170px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 0;
}

.irene{
    margin-top: 25px;
}

.anne{
    margin-top: 40px;
    margin-right: 0;
}

.ratings{
    width: 400px;
}

.profile{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

h1{
    width: 250px;
    font-size: 35px;
    color: hsl(300, 43%, 22%);
}

.icon-1,.icon-2,.icon-3{
    background-color: hsl(300, 24%, 96%);
    height: 40px;
    width: 400px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

.icon-3{
    margin-left: 140px;
}

.icon-2{
   margin-left: 100px;
}

.icon-1{
   margin-left: 60px; 
}

.images{
    border-radius: 50%;
    width: 30px;
}

.box{
    display: flex;
    gap: 5px;
}

.texts{
    margin-top: 15px;
}

.name,.texts,.verified{
    color: white;
}

.verified{
    opacity: 0.5;
    font-weight: 100;
    padding-top: 3px;
}

.name{
    font-weight: 500;
}

.texts{
    font-weight: 300;
}

img{
    margin-right: 10px;
}

.review{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }